*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins',
    sans-serif;
}

/************* column **************/
.row {
    display: flex;
    flex-wrap: wrap;
}
.shadow {
    box-shadow: 5px 5px 10px #ccc;
}
.col30{
    flex-basis: 32%;
    margin: 5px;
    padding: 16px;
}

.mt-5{
    margin-top: 200px;
}
.container{
    width: 1100px;
    margin: 0 auto;
}
.txt-cntr{
    text-align: center;
}
#complex{
    margin-top: 35px;;
}
h1{
    font-size: 36px;
    font-weight: 200;
    color: ;
}
h3{
    font-size: 36px;
    font-weight: 600;
    color: #5c5c3d;
}
p.header{
    text-align: center;
}
.border-1{
    border-radius: 5px;
    border-top: 5px solid hsl(180, 62%, 55%);
}
.border-2 {
    border-radius: 5px;
    border-top: 5px solid hsl(34, 97%, 64%);
}

.border-3 {
    border-radius: 5px;
    border-top: 5px solid hsl(0, 78%, 62%);
}
.border-4 {
    border-radius: 5px;
    border-top: 5px solid hsl(212, 86%, 64%);
}
.inside_box{
    display: flex;
    padding: 15px;
}
.first{
    flex-grow: 8;
}
.second{
    margin-top: 110px;
    flex-grow: 2;
    align-self: baseline;
}

h5{
    font-size: 18px;
    padding: 10px;
    padding-right: 0px;
}
.text{
    padding-right: 10px;
    display: inline-block;
}

.second_section {
    margin-top: 150px;
}

.middle{
    position: relative;
    bottom: 60%;
}

.last{
   margin-top: -100px;
}
@media only screen and (max-width:480px) {
    .col30{
         flex-basis: 100%;
         margin: 5px;
        }
    .container {
        width: 100%;
        margin: 0 auto;
    }
    h1{
        font-size: 32px;
        color: #5c5c3d;
    }
    h3{
        font-size: 24px;
        color: #5c5c3d;
    }
    .middle {
        position: relative;
        bottom: 0%;
    }
    .last {
        margin-top: 0px;
    }
    .second_section{
        margin-top: 20px;
    }
    .br{
        display: none;
    }
}